@page
@model FinanMEI.Pages.Despesas.DeleteModel

@{
    ViewData["Title"] = "Apagar Despesa";
}



<h3>Tem certeza que deseja apagar essa despesa?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.NomeDespesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.NomeDespesa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Data)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Despesa.IdDespesa" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
