@page
@model FinanMEI.Pages.Despesas.DetailsModel

@{
    ViewData["Title"] = "Informações";
}

<h1>Informações</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.NomeDespesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.NomeDespesa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Despesa.IdDespesa">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
