@page
@model FinanMEI.Pages.Produtos.IndexModel

@{
    ViewData["Title"] = "Produtos";
}

<h1>Meus Produtos</h1>

<p>
    <a asp-page="Create">Cadastrar novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdProduto">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdProduto">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
