@page
@model FinanMEI.Pages.Vendas.IndexModel

@{
    ViewData["Title"] = "Vendas";
}

<h1>Minhas Vendas</h1>

<p>
    <a asp-page="Create">Cadastrar nova venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].Produto)
            </th>
            <!--tinha o NomeProduto-->
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].Qtde)
            </th>
            <th>
                Valor Total <!-- Novo cabeçalho para Valor Total -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Venda) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
                <!--tinha o NomeProduto-->
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @((item.Qtde * item.ValorUnitario).ToString("C")) <!-- Novo cálculo de Valor Total -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdVenda">Alterar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdVenda">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdVenda">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
